<a href="https://colab.research.google.com/github/wanlichen2024/gdda612_project1/blob/main/604_assessment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [367]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [368]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [369]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

In [ ]:
from collections import defaultdict

# Task A- Data Transformation

In [370]:
# a. loading dataset
df= pd.read_csv('/content/drive/MyDrive/604 Data Collection/Sales_Sample_Public_Dataset.csv',encoding='ISO-8859-1')

In [371]:
# b. show first few rows
df.head(5)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/07/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/01/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [372]:
df.shape

(2823, 25)

In [373]:
df=pd.DataFrame(df)

In [374]:
# c.handle missing value
df.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [375]:
missing_value_rows= df[df.isnull().any(axis=1)]
missing_value_rows

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/07/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/01/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/02/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/01/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/06/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [376]:
#1.  add non null value of 'ADDRESSLINE2' to 'ADDRESSLINE1', and drop 'ADDRESSLINE2' columns
df['ADDRESSLINE1'] = df.apply(lambda row: f"{row['ADDRESSLINE1']}, {row['ADDRESSLINE2']}" if pd.notna(row['ADDRESSLINE2']) else row['ADDRESSLINE1'], axis=1)
df.drop('ADDRESSLINE2', axis=1, inplace=True)

In [377]:
#2. fill 'TERRITORY' with unknown
df['TERRITORY']= df['TERRITORY'].fillna('Unknown')

In [378]:
# 3. machine learning fulfil missing value

In [379]:
df1= df[['COUNTRY','STATE','CITY']]

In [380]:
# 分离有STATE和没有STATE的国家
countries_with_state = df1[df1['STATE'].notna()]['COUNTRY'].unique()
df_with_state = df1[df1['COUNTRY'].isin(countries_with_state)]
df_without_state = df1[~df1['COUNTRY'].isin(countries_with_state)]

#fill df_without_state with 'NONE'
df_without_state['STATE'] = 'NONE'

# 编码分类特征
label_encoders = {}
for column in ['CITY', 'COUNTRY']:
    le = LabelEncoder()
    df_with_state[column] = le.fit_transform(df_with_state[column].astype(str))
    label_encoders[column] = le

# 分离有STATE和没有STATE的数据
df_known = df_with_state[df_with_state['STATE'].notna()]
df_unknown = df_with_state[df_with_state['STATE'].isna()]

# 编码STATE列
state_le = LabelEncoder()
df_known['STATE'] = state_le.fit_transform(df_known['STATE'])

# 特征和目标
X = df_known.drop(columns=['STATE'])
y = df_known['STATE']

# 模型训练
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = RandomForestClassifier()
model.fit(X_train, y_train)

# 填充缺失值
X_unknown = df_unknown.drop(columns=['STATE'])
predicted_states = model.predict(X_unknown)
predicted_states_labels = state_le.inverse_transform(predicted_states)

# 将预测值转换为原始值并填充回原数据框
df_unknown['STATE'] = predicted_states_labels

# 将所有列转换回原始值
for column, le in label_encoders.items():
    df_known[column] = le.inverse_transform(df_known[column])
    df_unknown[column] = le.inverse_transform(df_unknown[column])

df_known['STATE'] = state_le.inverse_transform(df_known['STATE'])

# 将有STATE和无STATE的数据合并
df_combined = pd.concat([df_known, df_unknown, df_without_state], ignore_index=True)

# 打印处理后的数据框
print("处理后的数据框:")
print(df_combined)

<ipython-input-380-7af08d3fb657>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_without_state['STATE'] = 'NONE'
<ipython-input-380-7af08d3fb657>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_state[column] = le.fit_transform(df_with_state[column].astype(str))
<ipython-input-380-7af08d3fb657>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_state[column] = le.fit_transform(df_with_state[column].astype(str))
<ipython-input-380-7af08d3fb657>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_known['STATE'] = state_le.fit_transform(df_known['STATE'])

处理后的数据框:
      COUNTRY STATE           CITY
0         USA    NY            NYC
1         USA    CA       Pasadena
2         USA    CA  San Francisco
3         USA    CA     Burlingame
4         USA    CA  San Francisco
...       ...   ...            ...
2818  Denmark  NONE      Kobenhavn
2819    Spain  NONE         Madrid
2820  Finland  NONE           Oulu
2821    Spain  NONE         Madrid
2822   France  NONE       Toulouse

[2823 rows x 3 columns]

<ipython-input-380-7af08d3fb657>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unknown['STATE'] = predicted_states_labels
<ipython-input-380-7af08d3fb657>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_known[column] = le.inverse_transform(df_known[column])
<ipython-input-380-7af08d3fb657>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unknown[column] = le.inverse_transform(df_unknown[column])
<ipython-input-380-7af08d3fb657>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_known[column] = le.inverse_transform(df_known[column])
<ipython-input-380-7af08d3fb657>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unknown[column] = le.inverse_transform(df_unknown[column])
<ipython-input-380-7af08d3fb657>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_known['STATE'] = state_le.inverse_transform(df_known['STATE'])

In [381]:
df_combined.isnull().sum()

COUNTRY    0
STATE      0
CITY       0
dtype: int64

In [382]:
#combine df_unknown and df_known
df_combined = pd.concat([df_known, df_unknown, df_without_state], ignore_index=False)
df_combined

      COUNTRY STATE           CITY
0         USA    NY            NYC
3         USA    CA       Pasadena
4         USA    CA  San Francisco
5         USA    CA     Burlingame
8         USA    CA  San Francisco
...       ...   ...            ...
2816  Denmark  NONE      Kobenhavn
2818    Spain  NONE         Madrid
2819  Finland  NONE           Oulu
2820    Spain  NONE         Madrid
2821   France  NONE       Toulouse

[2823 rows x 3 columns]

In [383]:
# fill df 'STATE' based on df_combined
df['STATE']= df['STATE'].fillna(df_combined['STATE'])

In [384]:
df.isnull().sum()

ORDERNUMBER          0
QUANTITYORDERED      0
PRICEEACH            0
ORDERLINENUMBER      0
SALES                0
ORDERDATE            0
STATUS               0
QTR_ID               0
MONTH_ID             0
YEAR_ID              0
PRODUCTLINE          0
MSRP                 0
PRODUCTCODE          0
CUSTOMERNAME         0
PHONE                0
ADDRESSLINE1         0
CITY                 0
STATE                0
POSTALCODE          76
COUNTRY              0
TERRITORY            0
CONTACTLASTNAME      0
CONTACTFIRSTNAME     0
DEALSIZE             0
dtype: int64

In [387]:
# fill postalcode with each city most common code
def most_common_or_default(series):
    try:
        return series.value_counts().index[0]
    except IndexError:
        return 'Unknown'

most_common_postalcode = df.groupby('CITY')['POSTALCODE'].agg(most_common_or_default).to_dict()

df['POSTALCODE'] = df.apply(lambda row: most_common_postalcode[row['CITY']] if pd.isnull(row['POSTALCODE']) else row['POSTALCODE'], axis=1)

In [389]:
df.isnull().sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64