<a href="https://colab.research.google.com/github/wanlichen2024/gdda612_project1/blob/main/Assignment_1_Task_1_708.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [83]:
df = df.drop(['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
              'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], axis=1)

In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [82]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/BankChurners.csv')

In [84]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [85]:
df.tail()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [86]:
df.shape

(10127, 21)

In [87]:
# checking missing value
df.isnull().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [88]:
np.random.seed(42)

total_elements = df.size

# 计算需要设置为缺失值的元素数量
num_missing = int(total_elements * 0.001)

# 随机选择要设置为缺失值的元素的位置
missing_positions = np.random.choice(total_elements, num_missing, replace=False)

# 将数据框展平为一维数组，以便于索引
flattened_df = df.values.flatten()

# 将选定的位置设置为 NaN
flattened_df[missing_positions] = np.nan

# 将数据重新整形为原来的形状
df_with_missing = pd.DataFrame(flattened_df.reshape(df.shape), columns=df.columns)

# 查看结果
print(df_with_missing.isna().sum())

CLIENTNUM                    7
Attrition_Flag               5
Customer_Age                10
Gender                      11
Dependent_count              9
Education_Level              7
Marital_Status              11
Income_Category              9
Card_Category               15
Months_on_book              11
Total_Relationship_Count     7
Months_Inactive_12_mon      12
Contacts_Count_12_mon        7
Credit_Limit                10
Total_Revolving_Bal         15
Avg_Open_To_Buy              8
Total_Amt_Chng_Q4_Q1        14
Total_Trans_Amt             12
Total_Trans_Ct              12
Total_Ct_Chng_Q4_Q1         12
Avg_Utilization_Ratio        8
dtype: int64

In [89]:
df= df_with_missing

In [90]:
# checking missing value
df.isnull().sum()

CLIENTNUM                    7
Attrition_Flag               5
Customer_Age                10
Gender                      11
Dependent_count              9
Education_Level              7
Marital_Status              11
Income_Category              9
Card_Category               15
Months_on_book              11
Total_Relationship_Count     7
Months_Inactive_12_mon      12
Contacts_Count_12_mon        7
Credit_Limit                10
Total_Revolving_Bal         15
Avg_Open_To_Buy              8
Total_Amt_Chng_Q4_Q1        14
Total_Trans_Amt             12
Total_Trans_Ct              12
Total_Ct_Chng_Q4_Q1         12
Avg_Utilization_Ratio        8
dtype: int64

In [91]:
# Deal with missing Value
# 1. Using Mean to fill missing value
df['Customer_Age'].fillna(df['Customer_Age'].mean(), inplace=True)
df['Dependent_count'].fillna(df['Dependent_count'].mean(), inplace=True)
df['Months_on_book'].fillna(df['Months_on_book'].mean(), inplace=True)
df['Credit_Limit'].fillna(df['Credit_Limit'].mean(), inplace=True)
df['Total_Relationship_Count'].fillna(df['Total_Relationship_Count'].mean(), inplace=True)
df['Months_Inactive_12_mon'].fillna(df['Months_Inactive_12_mon'].mean(), inplace=True)
df['Contacts_Count_12_mon'].fillna(df['Contacts_Count_12_mon'].mean(), inplace=True)
df['Total_Revolving_Bal'].fillna(df['Total_Revolving_Bal'].mean(), inplace=True)
df['Avg_Open_To_Buy'].fillna(df['Avg_Open_To_Buy'].mean(), inplace=True)
df['Total_Amt_Chng_Q4_Q1'].fillna(df['Total_Amt_Chng_Q4_Q1'].mean(), inplace=True)
df['Total_Trans_Amt'].fillna(df['Total_Trans_Amt'].mean(), inplace=True)
df['Total_Trans_Ct'].fillna(df['Total_Trans_Ct'].mean(), inplace=True)
df['Total_Ct_Chng_Q4_Q1'].fillna(df['Total_Ct_Chng_Q4_Q1'].mean(), inplace=True)
df['Avg_Utilization_Ratio'].fillna(df['Avg_Utilization_Ratio'].mean(), inplace=True)

In [92]:
# 2.Since client number should be a unique identity number, dropping the missing value is the most suitable way.
# Attrition_Flag is an important colunm for later predition, so dropping the missing value is a proper way.
df.dropna(subset=['CLIENTNUM'],inplace=True)
df.dropna(subset=['Attrition_Flag'],inplace=True)

In [93]:
# 3. Fulful catergory vairables as mode
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)
df['Education_Level'].fillna(df['Education_Level'].mode()[0], inplace=True)
df['Marital_Status'].fillna(df['Marital_Status'].mode()[0], inplace=True)
df['Card_Category'].fillna(df['Card_Category'].mode()[0], inplace=True)

In [94]:
# 4. fill income_category as 'Unknown'
df['Income_Category'].fillna('Unknown', inplace=True)

In [95]:
df.isnull().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64